      <!-- Home-welcome -->
<div class="home-intro">
        <div class="home-title"> Hbw.Me </div>
        <div class="home-sub-title" style="padding: 0px;"> Hello Friend!  </div>
  <!-- <div> <img src="assets/img/avatar.png" alt="avatar" 
     style="float: left; max-width: 30%; height: auto; margin-right: 15px;"> <div>
   <div>  -->
<div style="text-align: right;">
  <img src="assets/img/avatar.png" alt="avatar" style="width: 30%; max-width: 600px;">
</div>
<!--  <img src="assets/img/avatar.png" alt="avatar" style="width: 30%; max-width: 600px;"> -->
</div>
      <br>
<hr class="animated-rainbow-hr">
        <div class="home-content">
                Home Page welcome
        </div>
        <div class="home-content no-padding">
                WeChat;DomainsPro.</div>
<hr width="100%" color="#a9a9a9" /> 
<!-- posts -->
<!-- 纯CSS实现打字效果 -->
<div class="typewriter">CSS打字效果很有趣！</div>
<!-- 纯CSS实现打字效果结束 -->

<div class="home-contact ">
        <div class="home-sub-title"> Collaborate /events </div>
        <div class="home-content no-padding">
                
                WorkGroupro@Gmail.Com
        </div>
</div>
