      <!-- Home-welcome -->
<div class="home-intro">
        <div class="home-title"> workersing </div>
        <div class="home-sub-title" style="padding: 0px;"> Hello Friend!  </div>
      <hr class="rainbow-hr"> 
      <img src="assets/img/avatar.png" alt="avatar" 
     style="float: left; max-width: 100%; height: auto; margin-right: 15px;">
<hr class="animated-rainbow-hr">
        <div class="home-content">
                Home Page welcome
        </div>
        <div class="home-content no-padding">
                WeChat;DomainsPro.</div>
<!-- posts -->
<!-- posts -->

<div class="home-contact ">
        <div class="home-sub-title"> Collaborate /events </div>
        <div class="home-content no-padding">
                
                WorkGroupro@Gmail.Com
        </div>
</div>
